<ion-menu side="start" menuId="first" contentId="principal">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>
        Menu Principal
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        Mis Equipos
      </ion-item>
      <ion-item>
        Mis Proyectos
      </ion-item>
      <ion-item>
        Logros
      </ion-item>
      <ion-item (click)="logOut()">
        Salir
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
