.marginInput{
    margin-top:3rem;
    margin-right:2rem;
    margin-left:1rem;
}

.imgContainer{
    margin-top: 2rem;
    margin-right:1rem;
    margin-left:1rem;
}
.buttonContainer{
    margin-top: 2rem;
    margin-right:1rem;
    margin-left:1rem;
}