<app-menu [rol]="usuarios.rol"></app-menu>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content id="principal" color="dark" >
    <div class="container" *ngIf="usuarios.rol == 'alumno'">
      <app-alumno [nombre]="usuarios.nombre" [rol]="usuarios.rol">

      </app-alumno>
    </div>
    <div class="container" *ngIf="usuarios.rol == 'maestro'">
      <app-maestro>

      </app-maestro>
    </div>
  </ion-content>
