.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.importanteUrgente{
    background-color: #d90710;
    
}
.impotanteNoUrgente{
    background-color: #024a9c;
}
.noImportanteUrgente{
    background-color: #fb9320;
    height: 150px;
}
.noImportanteNoUrgente{
    background-color: #a0a1b6;
    height: 150px;
}
.textoCss{
    writing-mode: vertical-rl;
}

.tareas{
    font-size: 70px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.titulo{
    margin-left:2rem;
}


.circulo {
    width: 80px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    justify-content: center;
	align-items: center;
	text-align: center;
    margin:0px auto;
    padding:3%;
    display: flex;
    border: 3px solid #f99e17;
   
}
.circulo > h2 {
	color: white;
	font-size: 2rem;
	font-weight: bold;
}

.Urgente{
    background: #d90710;
}
.Alta{
    background-color: #0049ae;
}
.Media{
    background: #7e2e85;
}
.Baja{
    background: #789032;
}
