.marginTop{
    margin-top: 2rem;
    margin-right:2rem;
    margin-left:2rem;
}

.marginInput{
    margin-bottom:2rem;
    margin-right:2rem;
    margin-left:1rem;
}

.imgContainer{
    background-color: #222428;
    width:150px;
}

.button{
    margin-top: 2rem;
    margin-right:2rem;
    margin-left: 2rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }