<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Registrar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">
      Email
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.email">

    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Password
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.password">
      
    </ion-input>
  </ion-item>
  <div class="row">
    <div class="col-12 mt-5">
      <ion-button expand="block" color="tertiary" size="large" (click)="onRegister()">
        Registrar
      </ion-button>
    </div>
    
    <ion-button expand="block" color="tertiary" size="large" href="/login">
      Ya tengo cuenta!!!
    </ion-button>
  </div>




</ion-content>
