<ion-header>
  <ion-toolbar color="dark" class="ion-text-center">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">


  <ion-item *ngFor="let item of items" color="dark">
    <ion-img class="imgContainer center" [src]="item.src"></ion-img>
  </ion-item>

  <div class="row">
    <div class="col-12">
      
      <ion-item class="marginInput" color="dark">
        <ion-label position="floating">
          Nombre
        </ion-label>
        <ion-input color="light" type="text" [(ngModel)]="nombre">
        </ion-input>
      </ion-item>

      <ion-item class="marginInput" color="dark">
        <ion-label position="floating">
          Email
        </ion-label>
        <ion-input color="light" type="email" [(ngModel)]="email">
        </ion-input>
      </ion-item>

      <ion-item class="marginInput" color="dark">
        <ion-label position="floating">
          Password
        </ion-label>
        <ion-input color="light" type="password" [(ngModel)]="password">
        </ion-input>
      </ion-item>
      
      <ion-item color="dark">
        <ion-label>
          ¿Alumno o Maestro?
        </ion-label>
        <ion-select [(ngModel)]="rol">
          <ion-select-option value="maestro">
            Maestro
          </ion-select-option>
          <ion-select-option value="alumno">
            Alumno
          </ion-select-option>
        </ion-select>
      </ion-item>

    </div>
  </div>
      <ion-button expand="block" color="secondary" size="large" (click)="onSubmitRegister(email,password,rol,nombre)">
        Registrar
      </ion-button>
      <ion-button expand="block" color="secondary" size="large" href="/login">
        Ya tengo Cuenta
      </ion-button>
</ion-content>
