<ion-slides class="SlidesComponent" pager="true" [options]="slideOpts" >
  <ion-slide class="mb-4">
    <ion-grid>
      <ion-row>
        <ion-col style="background-color: #024a9c; height:100px">
          <ion-text style="font-size: 36px; margin-top:2rem">
            Eq. 1
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col style="background-color:  #024a9c; height:100px">
          <ion-text style="font-size: 36px;">
            Eq. 2
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col style="background-color:  #024a9c; height:100px">
          <ion-text style="font-size: 36px;">
            Eq. 3
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>



  <ion-slide class="mb-4">
    <ion-grid>
      <ion-row>
        <ion-col style="background-color: #024a9c; height:100px">
          <ion-text style="font-size: 36px;">
            Eq. 4
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col style="background-color: #024a9c; height:100px">
          <ion-text style="font-size: 36px;">
            Eq. 5
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col style="background-color: #024a9c; height:100px">
          <ion-text style="font-size: 36px;">
            Eq. 6
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide class="mb-4">
    <ion-grid>
      <ion-row>
        <ion-col style="background-color: #024a9c; height:100px">
          <ion-text style="font-size: 36px;">
            Eq. 7
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col style="background-color: #024a9c; height:100px">
          <ion-text style="font-size: 36px;">
            Eq. 8
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col style="background-color: #024a9c; height:100px">
          <ion-text style="font-size: 36px;">
            Eq. 9
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
</ion-slides>
